#display-checklist {
	magrin: 32px;
}

.display-checklist-check {
	border: 3px inset #DDDDDD;
	background-color: #EEEEEE;
}

.display-checklist-check-header {
	margin: 4px;
}

.display-checklist-check-skill {
	margin-left: 16px;
	padding: 4px;
	display:none;
}

.display-checklist-check-border {
	margin:0px;
	margin-left:16px;
}

.display-checklist-check-skill:nth-child(odd) {
	background-color: #FFEEEE;
}

.display-checklist-check-skill:nth-child(even) {
	background-color: #EEEEFF;
}

.display-checklist-check-combo-combo-spec,
.display-checklist-check-combo-combo-note,
.display-checklist-check-effect-effect-spec,
.display-checklist-check-effect-effect-note {
	margin-left: 16px;
}

.display-checklist-check-combo-combo-spec,
.display-checklist-check-effect-effect-spec {
	border-bottom: 2px #DDDDDD solid;
}

#display-checklist-check-effect-exec {
	display:none;
}